*{
	margin: 0;
	padding: 0;
}

@font-face{
	font-family: Roboto;
	src: url('https://fonts.googleapis.com/css?family=Roboto');
}

h1, h2, h3, h4, h5, h6{
	color: #444;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
}

p{
	font-family: 'Roboto', sans-serif;
	color: #888;
	font-size: 15px;
}

header{
	width: 100%;
	background: rgba(0, 137, 123, .8);
	height: 70px;
	position: fixed;
	z-index: 10;

}

.ancho{
	width: 80%;
	height: 70px;
	margin: auto;
}

.logo{
	width: 30%;
	height: 70px;
	float: left;
	padding-top: 10px;
	box-sizing: border-box;
}

nav{
	width: 70%;
	height: 70px;
	float: left;
	text-align: right;
	padding-top: 24px;
	box-sizing: border-box;
}

.logo p a{
	color: #fff;
	font-size: 40px;
	text-decoration: none;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

nav ul li{
	display: inline;
}

nav ul li a{
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 15px;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Roboto', sans-serif;
}

nav ul li a:hover{
	color: #444;
}

/*Slider Particulas*/
#particles-js{
	background: #455A64;
	background-position: center;
	background-attachment: contain;
	background-size: cover;
	width: 100%;
}

/*Contenido dentro del Slider*/
.ancho-letras{
	top: 200px;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 1;
}

.letras-slider{
	width: 80%;
	margin: auto;
}

.letras-slider h1{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 70px;
}

.letras-slider p{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	padding-top: 50px;
}

/* Estilos Secciones */
.h3_bienvenida{
	font-size: 20px;
	line-height: 1.5;
	padding-top: 20px;
	font-weight: normal;
	text-transform: 
}

.wap{
	width: 90%;
	margin: auto;
}

h2{
	font-size: 26px;
	color: #333;
}

.bienvenidos{
	margin-top: 50px;
	text-align: center;
}

.contenedor-columnas{
	width: 100%;
	margin: auto;
	margin-bottom: 50px;
}

.columnasX3{
	width: 33.333%;
	float: left;
	padding: 20px 20px; 
	box-sizing: border-box;
	margin: auto;
	padding-bottom: 50px;
}

.columnasX3 img{
	width: 100%;
}

h4{
	margin-top: 15px;
	font-size: 16px;
}

h5{
	line-height: 1.5;
	font-weight: normal;
	padding: 10px 0;
	font-size: 12px; 
}

/* Banner 1 */
.banner_1{
	width: 100%;
	clear: both;
	background: #26A69A;
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	text-align: center;
	box-sizing: border-box;
	transition: 0.4s;
}

.banner_1 h3{
	color: #fff;
	font-size: 52ox;
}

.banner_1 a{
	text-decoration: none;
	margin-left: 20px;
	font-weight: bold;
	color: #fff;
	border-bottom: 2px solid #fff;
}

.banner_1:hover{
	background: #004D40;
	transition: 0.4s;
}

/* Iconos */
.columnasX3 i{
	float: left;
	padding-right: 20px;
	color: #455A64;
}

.columnasX3 h4{
	padding-bottom: 20px;
}